*{
		margin:0;
		box-sizing:border-box;
}


body{
	background-color:gray;
	font-family:Arial, bold Helvetica, sans-serif;
	margin:0;
	
}

.topnav {
	overflow: hidden;
	background-color: black;
	width:90;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;
  border: 4px solid #e7e7e7;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

li a:hover {
  background-color: #d0e2e2;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}


@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  
  
 .topnav input[type=text] {
    border: 1px solid #ccc;
  }

.topnav a {
	font-family: Verdana, sans-serif;
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color:#ddd;
	color:black;
}

.topnav input[type=text] {
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border:none;
}



.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;

}



.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  
  
  
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


  .dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}



.active {
  background-color: #717171;
}

.text {
	color: #f2f2f2;
	font-size:15px;
	padding:8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}


@media only screen and (max-width: 300px){
.prev, .next,.text (font-size: 11px)
	
}
.container{
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color:white;
	font-family: Verdana, sans-serif;
	font-size: 25px;
	
}

div.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;

}


img {
	border-radius:8px;
}

.scroll-container img {
  padding: 10px;
  
}

.footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}
  
 